@use "../../styles/abstracts/variables-colors" as colors;

.myStream {
  .videoStream {
    margin: auto;
  }
}

.streamManager {
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    align-self: baseline;
  }
}
