@use "../../../styles/abstracts/variables-colors" as colors;
@use "../../../styles/utils/responsive" as responsive;

.signIn {
  .container {
    @include responsive.container;

    .wrapper {
      padding: 100px 0;
      max-width: 500px;
      margin: auto;

      .top {
        text-align: center;

        img {
          width: 60px;
        }

        h1 {
          margin-top: 5px;
        }
      }

      form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .signUpBtn {
          text-align: center;
        }
      }
    }
  }
}
