@use "../../../styles/abstracts/variables-colors" as colors;

.controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
  z-index: 100;
  background: rgba(colors.$black, 0.6);
  box-shadow: 0 8px 32px 0 rgba(colors.$black, 0.37);
  backdrop-filter: blur(18.5px);
  -webkit-backdrop-filter: blur(18.5px);
  border: 1px solid rgba(colors.$black, 0.18);

  &:hover {
    opacity: 1;
  }

  .controlGroup {
    display: flex;
    align-items: center;
    gap: 8px;

    input {
      width: 60%;
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      transition: transform 0.2s ease;

      i {
        color: colors.$white;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
