@use "../../../styles/abstracts/variables-colors" as colors;

.tab {
  position: absolute;
  color: white;
  top: 10px;
  right: 10px;

  .LIVE,
  .OFFLINE {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: x-small;
    user-select: none;
    text-transform: uppercase;
  }

  .LIVE {
    background-color: colors.$red;
    animation: liveAnimation 5s infinite ease;
  }

  .OFFLINE {
    background-color: colors.$slate-5;
  }
}

@keyframes liveAnimation {
  0% {
    background-color: colors.$red;
  }

  50% {
    background-color: colors.$red-variant;
  }

  100% {
    background-color: colors.$red;
  }
}
